## FINAL PROJECT

Họ tên: Tran Huu Hoang

MSSV: 18120387

Họ tên: Nguyen Thanh Ngon

MSSV: ...

### I. NGUỒN GỐC DỮ LIỆU

#### 1. Sơ lược về dữ liệu:

Dữ liệu về kết quả các trận đấu bóng đá quốc tế từ năm 1872 cho đến 2021.Các trận đấu từ FIFA World Cup đến FIFI Wild Cup đến các trận giao hữu thông thường. Các trận đấu trong khuôn khổ bóng đá nam và dữ liệu không bao gồm Thế vận hội Olympic hoặc các trận đấu có ít nhất một trong các đội là đội hạng B, đội U-23 quốc gia hoặc đội tuyển của một giải đấu.

*results.csv gồm các cột: 
- date - ngày diễn ra trận đấu
- home_team - tên của đội chủ nhà
- away_team - tên của đội khách
- home_score - tỷ số toàn trận của đội chủ nhà bao gồm hiệp phụ, không bao gồm loạt sút luân lưu
- away_score - tỷ số toàn trận của đội khách bao gồm hiệp phụ, không bao gồm loạt sút luân lưu
- tournament - tên của giải đấu
- city - tên thành phố / thị trấn / đơn vị hành chính nơi trận đấu diễn ra
- country - tên quốc gia nơi trận đấu diễn ra
- neutral - Cột TRUE / FALSE cho biết trận đấu có được diễn ra tại một địa điểm trung lập hay không

Dữ liệu được public trên

https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

#### 2. Thu thập dữ liệu

Dữ liệu được thu thập từ một số nguồn  như là Wikipedia, rsssf.com và các trang web của các hiệp hội bóng đá cá nhân.

### II. KHám Phá Dữ Liệu

#### 1. Khám phá dữ liệu mức cơ bản:

Iport các thư viện cần thiết.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

1.1 đọc dữ liệu từ file result.csv

In [3]:
fb_df = pd.read_csv('results.csv') 
fb_df.sample()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
6069,1965-12-13,Kenya,Ghana,3.0,3.0,Friendly,Nairobi,Kenya,False

1.2 số dòng và cột của dữ liệu

In [4]:
num_rows, num_cols = fb_df.shape
print('num_rows: ')
print(num_rows)
print('num_cols: ')
print(num_cols)

num_rows:
42405
num_cols:
9

1.3 kiểm tra các dòng dữ liệu có bị trùng lắp hay không

In [5]:
have_duplicated_rows = any(fb_df.duplicated())
have_duplicated_rows

False

1.4 liệt kiểu dữ liệu của các cột:

In [6]:
col_dtypes = fb_df.dtypes
col_dtypes

date           object
home_team      object
away_team      object
home_score    float64
away_score    float64
tournament     object
city           object
country        object
neutral        object
dtype: object

chuyển dữ liệu cột date về dạng datetime

In [7]:
fb_df['date'] = pd.to_datetime(fb_df['date'])
fb_df['date'].dt.year.min()

1872

In [8]:
fb_df = fb_df.assign(year = fb_df['date'].dt.year)
fb_df['year'].max()

2021

#### 2. Khám phá dữ liệu nâng cao:

##### Để tiện cho quá trình xử lí dữ liệu thì ta thêm vào fb_df 2 cột là month và year

- Thêm cột year vào fb_df

In [9]:
fb_df = fb_df.assign(year = fb_df['date'].dt.year)
fb_df['year'].max()

2021

- Thêm cột month vào fb_df

In [10]:
fb_df = fb_df.assign(month = fb_df['date'].dt.month)
fb_df['month'].max()

12

##### Thêm vào cột chứa tên đội tuyển giành chiến thắng

In [22]:
fb_df = fb_df.assign(win_team = fb_df[(fb_df['home_score'] > fb_df['away_score'])]['home_team']) 
fb_df['win_team'] = fb_df['win_team'].fillna(fb_df[(fb_df['home_score'] < fb_df['away_score'])]['away_team'])
fb_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,win_team
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,1872,11,NaN
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,1873,3,England
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,1874,3,Scotland
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,1875,3,NaN
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,1876,3,Scotland

##### top 5 đội bóng có thành tích giao hữu trên sân nhà tốt nhất

Dưới đây sẽ liệt kê 5 theo thứ tự có số trận thắng nhiều thứ 1 đến nhiều thứ 2... thỏa mãn các tiêu chí:
- đội bóng đá trên sân nhà.
- có thành tích là thắng.

In [11]:
top5_home_team = fb_df[(fb_df['home_score'] > fb_df['away_score']) &
                  (fb_df['tournament'] =='Friendly')]['home_team'].value_counts()[:5].index.to_list()
top5_home_team

['Germany', 'Brazil', 'Mexico', 'France', 'Hungary']